body {
  padding-top: 50px;
  background-color: #F3F5FA;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.regionTitleContainer {
  background-color: #EAECFF;
  font-weight: bold;
}
.dataContainer {
  margin: 5px;
  background-color: #FAFCFF;
}
.containerName {
  text-align: center;
  font-family: sans-serif;
}
