body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  margin-top: 80px;
  text-align: center;
  font-family: 'Arvo', sans-serif;
  font-size: 54px;

}


#search_bar {
  text-align: center;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}


#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
