<div class="container">
  <h1 class="text-center">Team BASK</h1>
</div>

<div class="container"> 
  
  <!--Brian About-->
  <div class="row">
    
    <div class="col-md-12">
      <h2>Brian Quimio</h2>
    </div>
    
    <div class="col-md-3">
      <img src="https://avatars2.githubusercontent.com/u/10721879?v=3&s=460" height="60%" width="60%">
    </div>
    
    <div class="col-md-6">
      <p>A 4th year CS student attending UT Austin, interested in big data analytics and web development. He had internships at NASA and Zilliant over the course of the last few years. He also enjoys soccer, texas hold 'em, and playing the stock market.</p>
    </div>

    <div class="col-md-3">
      <p><b><u>Responsibilities</u></b></p>
      <ul>                    
        <li>Phase II Team Lead</li>  
        <li>Front-end team</li>                        
        <li>Web Layout and Design</li>                        
      </ul>
      
      <p>
      # of Commits: <br>   
      # of Issues: <br>                  
      # of Unit Tests:                 
      </p>
    </div>
  </div> <!--end row-->
    
  
  <!--Adam About-->
  <div class="row">    
    
    <div class="col-md-12">    
      <h2>Adam Alloy</h2>
    </div>

    <div class="col-md-3">
      <img src="https://avatars0.githubusercontent.com/u/14539345?v=3&s=460" height="60%" width="60%">
    </div>
      
    
    <div class="col-md-6">                        
      <p>A senior CS student with a psych minor. Like half of Austin, he came here from California and has no intention of leaving. On the side he is building on an online student art gallery and is excited to learn more about web development through this project. His hobbies include writing, rapping, dancing and stand up.</p>                                   
    </div>


    <div class="col-md-3">                  
      <p id="tasks"><b><u>Responsibilities</u></b></p>
      <ul>
        <li>Back-end team</li>  
        <li>RESTful API</li>                      
        <li>Documentation</li>                   
      </ul>
      <p>                        
        # of Commits <br>     
        # of Issues <br>                 
        # of Unit Tests:                 
      </p>
    </div>

  </div> <!--end row-->
      
  <!--Stephen About-->
  <div class="row">

    <div class="col-md-12">
      <h2>Stephen Perl</h2>
    </div>
    
    <div class="col-md-3">                        
      <img src="https://avatars3.githubusercontent.com/u/5982889?v=3&s=460"  height="60%" width="60%">                      
    </div>
    
    <div class="col-md-6">
      <p>Stephen Perl is a senior studying Computer Science at UT Austin, with an Advertising major under his belt. He works at EA as a data analyst. He also just got a puppy, word on Slack is the puppy is very cute.</p>
    </div>

    <div class="col-md-3">
      <p id="tasks"><b><u>Responsibilities</u></b></p>  
      <ul> 
        <li>Phase I Team Lead</li>
        <li>Back-end team</li>
        <li>Docker and Carina</li>
        <li>Data Architect</li>
      </ul>
      <p>
        # of Commits: <br>
        # of Issues: <br>
        # of Unit Tests: 
      </p>           
    </div>

  </div> <!--end row-->

  <!--Keith About-->
  <div class="row">
    
    <div class="col-md-12">
      <h2>Keith Gibson</h2>
    </div>
    
    <div class="col-md-3">                          
      <img src="https://avatars2.githubusercontent.com/u/9368845?v=3&s=460" height="60%" width="60%">
    </div>
    
    <div class="col-md-6">
      <p>Keith Gibson is coming back to school for his second degree in Computer Science. His first degree is in Anthropology. Good at working under pressure. When he's not studying he enjoys riding around on his motorcycle with his wife.</p>
    </div>
  
    <div class="col-md-3">
      <p id="tasks"><b><u>Responsibilities</u></b></p> 
      <ul>
        <li>Phase III Team Lead</li>
        <li>Front-end team</li>
        <li>AngularJS</li>
      </ul>
      <p>
        # of Commits: <br> 
        # of Issues: <br>
        # of Unit Tests:
      </p>
    </div>
  </div> <!--end row-->

  <!--Steven About-->
  <div class="row">
    <div class="col-md-12">
      <h2>Steven Zhu</h2>
    </div>
    
    <div class="col-md-3">
      <img src="https://avatars3.githubusercontent.com/u/11623685?v=3&s=460" height="60%" width="60%">
    </div>
    
    <div class="col-md-6">
      <p>Steven Zhu is a junior studying Computer Science at UT Austin. His computer science interests include object oriented programming and operating systems. Outside of school he enjoys reading, drawing, and weightlifting.</p>
    </div>            

    <div class="col-md-3">
      <p><b><u>Responsibilities</u></b></p>
      <ul>
        <li>Back-end team</li>
        <li>Quality Assurance</li>
      </ul>
      <p>
        # of Commits: <br>
        # of Issues: <br>
        # of Unit Tests:
      </p>                  
    </div>
      
  </div> <!--end row-->

</div> <!--end container-->

<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      <h3 class="text-center">Stats</h3>
      <ul>          
        <li>Total Commits: </li>          
        <li>Total Issues: </li>
        <li>Total Unit Tests: </li>                      
        <li><a href="http://docs.teambask.apiary.io/">Apiary API</a></li>
        <li><a href="https://github.com/brianquimio/cs373-idb/issues">Issue Tracker</a></li> 
        <li><a href="https://github.com/brianquimio/cs373-idb">GitHub Repo</a></li>
        <li><a href="https://github.com/brianquimio/cs373-idb/wiki">Wiki</a></li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center">Data</h3>                  
      <ul>
        <li><a href="https://developer.trulia.com">Trulia API</a></li>
        <li><a href="https://github.com/brianquimio/cs373-idb/wiki/Data-Sources">Data Scraping Wiki</a></li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center">Tools</h3>
      <ul>
        <li>Front-End
          <ul>
            <li>AngularJS</li>
            <li>Bootstrap</li>
          </ul>
        </li>
        
        <li>Back-End
          <ul>
            <li>Apiary</li>
            <li>Flask</li>
          </ul>
        </li>
        
        <li>Embedded Media
          <ul>
            <li>Google Maps</li>
          </ul>
        </li>
	
        <li>Collaboration
          <ul>
            <li>Slack</li>
            <li>GitHub</li>
            <li>Trello</li>
          </ul>
        </li>
      </ul>
    </div>
    
  </div> <!--end row-->
</div> <!--end container-->

<div class="container">
  <div class="text-center">
    <a href="#" class="btn btn-primary btn-lg">Run Unit Tests</a>
  </div>  
</div>


