<div class="container">

  <div class="row">
    <h2 class="text-center">Cities</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click='{{cities.sort.by="id"}}'>City Id<span ng-show='{{cities.sort.by==="id"}}' ng-class="{{'glyphicon glyphicon-sort-by-order': cities.sort.descending,'glyphicon glyphicon-sort-by-order-alt':!cities.sort.descending}}"></span></th>
        <th ng-click='{{cities.sort.by="name"}}'>City Name<span ng-show='{{cities.sort.by==="name"}}' ng-class="{{'glyphicon glyphicon-sort-by-alphabet': cities.sort.descending,'glyphicon glyphicon-sort-by-alphabet-alt':!cities.sort.descending}}"></span></th>
        <th ng-click='{{cities.sort.by="code"}}'>State Code<span ng-show='{{cities.sort.by==="code"}}' ng-class="{{'glyphicon glyphicon-sort-by-alphabet': cities.sort.descending,'glyphicon glyphicon-sort-by-alphabet-alt':!cities.sort.descending}}"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows | orderBy:sort.by:sort.descending">
        <td ng-bind=row['city-id']></td>
        <td ng-bind=row['city-name']></td>
        <td ng-bind=row['state-code']></td>
      </tr>
    </tbody>
  </table>

</div>
