<div class="container">

  <div class="row">
    <h2 class="text-center" ng-bind="tableName"></h2>
  </div>



  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click='neighborhoods.sortBy("id")'>Neighborhood Id <span ng-show='neighborhoods.sortedBy("id")' class='glyphicon' ng-class="{'glyphicon-chevron-down': !sort['descending'], 'glyphicon-chevron-up': sort['descending']}"></span></th>
        <th ng-click='neighborhoods.sortBy("name")'>Neighborhood Name <span ng-show='neighborhoods.sortedBy("name")' class='glyphicon' ng-class="{'glyphicon-chevron-down': !sort['descending'], 'glyphicon-chevron-up': sort['descending']}"></span></th>
        <th ng-click='neighborhoods.sortBy("cityName")'>City Name <span ng-show='neighborhoods.sortedBy("cityName")' class='glyphicon' ng-class="{'glyphicon-chevron-down': !sort['descending'], 'glyphicon-chevron-up': sort['descending']}"></span></th>
        <th ng-click='neighborhoods.sortBy("code")'>State Code <span ng-show='neighborhoods.sortedBy("code")' class='glyphicon' ng-class="{'glyphicon-chevron-down': !sort['descending'], 'glyphicon-chevron-up': sort['descending']}"></span></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="row in rows | orderBy:sort['by']:sort['descending']">
        <td ng-bind=row['id']></td>
        <td ng-bind=row['name']></td>
        <td ng-bind=row['cityName']></td>
        <td ng-bind=row['stateCode']></td>
      </tr>
    </tbody>
  </table>

</div>
