<div class="container">

  <div class="row">
    <h2 class="text-center">States</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click='states.sortBy("name")'>State Name <span ng-show='states.sortedBy("name")' class='glyphicon' ng-class="{'glyphicon-chevron-down': !sort['descending'], 'glyphicon-chevron-up': sort['descending']}"></span></th>
        <th ng-click='states.sortBy("code")'>State Code <span ng-show='states.sortedBy("code")' class='glyphicon' ng-class="{'glyphicon-chevron-down': !sort['descending'], 'glyphicon-chevron-up': sort['descending']}"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows | orderBy:sort['by']:sort['descending']">
        <td><a ng-bind=row['name'] ng-href={{'state/'+row['stateCode']}}></a></td>
        <td><a ng-bind=row['stateCode'] ng-href={{'state/'+row['stateCode']}}></a></td>
      </tr>
    </tbody>
  </table>

</div>
