<div class="container">

  <div class="row">
    <h2 class="text-center">States</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click='sortBy(name)'>State Name<span ng-show='sortedBy(name)' ng-class="{'glyphicon glyphicon-sort-by-alphabet': descending,'glyphicon glyphicon-sort-by-alphabet':!descending}"></span></th>
        <th ng-click='sortBy(code)'>State Code<span ng-show='sortedBy(code)' ng-class="{'glyphicon glyphicon-sort-by-alphabet': descending,'glyphicon glyphicon-sort-by-alphabet':!descending}"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows | orderBy:sorting['column']:sorting['descending']">
        <td ng-bind=row['state_code']></td>
        <td ng-bind=row['state_name']></td>
      </tr>
    </tbody>
  </table>

</div>
