body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.search {
  margin-top: 30px;
}

#splash {
  /*background: url(../img/splash_bg.jpg) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
*/
  
}
