<!-- START #fh5co-hero -->
<aside id="fh5co-hero" style="background-image:url(../static/img/about_bg.jpg);">
  <div class="container">
    <div class="row">
	  <div class="col-md-8 col-md-offset-2">
	    <div class="fh5co-hero-wrap">
		  <div class="fh5co-hero-intro">
		    <h2>We are<span></span></h2>
            <h1>Team BASK</h1>
	  	  </div>
		</div>
	  </div>
	</div>
  </div>
</aside>

<div id="fh5co-main">
								
  <div class="fh5co-spacer fh5co-spacer-sm"></div>
  <!--<div class="fh5co-spacer fh5co-spacer-xlg"></div>-->
      
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">                
          <div id="fh5co-tab-feature-vertical" class="fh5co-tab">
            <ul class="resp-tabs-list hor_1">
              <li><i class="fh5co-tab-menu-icon ti-user"></i>Designer</li> 
              <li><i class="fh5co-tab-menu-icon ti-user"></i>Mister API</li>
              <li><i class="fh5co-tab-menu-icon ti-user"></i>Data Architect</li>                
              <li><i class="fh5co-tab-menu-icon ti-user"></i>Wrangular</li>
              <li><i class="fh5co-tab-menu-icon ti-user"></i>Test Master</li>
            </ul>
               
            <div class="resp-tabs-container hor_1">
              <div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center">Brian Quimio</h2>
                  </div>
                  <div class="col-md-3">
                    <img src="https://avatars2.githubusercontent.com/u/10721879?v=3&s=460" height="100%" width="100%">
                  </div>
                      
                  <div class="col-md-5">
                    <p>A 4th year CS student attending UT Austin, interested in big data analytics and web development. He had internships at NASA and Zilliant over the course of the last few years. He also enjoys soccer, texas hold 'em, and playing the stock market.</p>                  
                  </div>
                  <div class="col-md-4">
                    <p id="tasks"><b><u>Responsibilities</u></b></p>
                    <ul>
                      <li>Phase II Team Lead</li>
                      <li>Front-end team</li>
                      <li>Web Layout and Design</li>
                    </ul>
                    <p>
                    # of Commits: 30<br>
                    # of Issues: 14<br>
                    # of Unit Tests: 0 
                    </p>           
                  </div>
                </div>          
              </div>
                        
              <div>
                <div class="row"> 
                  <div class="col-md-12">             
                    <h2 class="text-center">Adam Alloy</h2>                  
                  </div>
                  <div class="col-md-3">
                    <img src="https://avatars0.githubusercontent.com/u/14539345?v=3&s=460" height="100%" width="100%">
                  </div>

                  <div class="col-md-5">
                    <p>A senior CS student with a psych minor. Like half of Austin, he came here from California and has no intention of leaving. On the side he is building on an online student art gallery and is excited to learn more about web development through this project. His hobbies include writing, rapping, dancing and stand up.</p>                               
                  </div>

                  <div class="col-md-4">
                    <p id="tasks"><b><u>Responsibilities</u></b></p>
                      <ul>
                        <li>Back-end team</li>
                        <li>RESTful API</li>
                        <li>Documentation</li>
                      </ul>
                      <p>
                      # of Commits: 12 <br>
                      # of Issues: 6 <br>
                      # of Unit Tests: 0
                      </p>
                    </div>            
                  </div>                  
                </div>
                          
                <div>
                  <div class="row"> 
                    <div class="col-md-12">             
                      <h2 class="text-center">Stephen Perl</h2>                  
                    </div>            

                    <div class="col-md-3">
                      <img src="https://avatars3.githubusercontent.com/u/5982889?v=3&s=460"  height="100%" width=100%">
                    </div>

                    <div class="col-md-5">
                      <p>Stephen Perl is a senior studying Computer Science at UT Austin, with an Advertising major under his belt. He works at EA as a data analyst. He also just got a puppy, word on Slack is the puppy is very cute.</p>                  
                    </div>            
                      
                    <div class="col-md-4">
                      <p id="tasks"><b><u>Responsibilities</u></b></p>
                        <ul>
                          <li>Phase I Team Lead</li>
                          <li>Back-end team</li>
                          <li>Docker and Carina</li>
                          <li>Data Architect</li>
                        </ul>
                      <p>
                      # of Commits: 32<br>
                      # of Issues: 10<br>
                      # of Unit Tests: 0 
                      </p>                  
                    </div>                 
                  </div>            
                </div>

                <div>
                  <div class="row"> 
                    <div class="col-md-12">             
                      <h2 class="text-center">Keith Gibson</h2>                  
                    </div>              

                    <div class="col-md-3">
                      <img src="https://avatars2.githubusercontent.com/u/9368845?v=3&s=460" height="100%" width="100%">
                    </div>

                    <div class="col-md-5">
                      <p>Keith Gibson is coming back to school for his second degree in Computer Science. His first degree is in Anthropology. Good at working under pressure. When he's not studying he enjoys riding around on his motorcycle with his wife.</p>                       
                    </div>            
                    
                    <div class="col-md-4">
                      <p id="tasks"><b><u>Responsibilities</u></b></p> 
                        <ul>
                          <li>Front-end team</li>
                          <li>AngularJS</li>
                        </ul>
                      <p>
                      # of Commits: 12<br> 
                      # of Issues: 11<br>
                      # of Unit Tests: 0 
                      </p>                  
                    </div>            
                  </div>                  
                </div>									
                
				<div>
                  <div class="row"> 
                    <div class="col-md-12">             
                      <h2 class="text-center">Steven Zhu</h2>                  
                    </div>                  
                    
                    <div class="col-md-3">
                      <img src="https://avatars3.githubusercontent.com/u/11623685?v=3&s=460" height="100%" width="100%">
                    </div>

                    <div class="col-md-5">
                      <p>Steven Zhu is a junior studying Computer Science at UT Austin. His computer science interests include object oriented programming and operating systems. Outside of school he enjoys reading, drawing, and weightlifting.</p>
                    </div>            
                    
                    <div class="col-md-4">
                      <p id="tasks"><b><u>Responsibilities</u></b></p>
                        <ul>
                          <li>Back-end team</li>
                          <li>Quality Assurance</li>
                        </ul>
                      <p>
                      # of Commits: 16<br>
                      # of Issues: 3<br>
                      # of Unit Tests: 22
                      </p>                  
                    </div>            
                  </div>                  
                </div>								
              </div>
            </div> <!--end tabs-->
              
            <div class="fh5co-spacer fh5co-spacer-sm"></div>                
            
          </div>
        </div>              
      </div>
    </section>
  
    <section>          
      <div class="container">          
        <div class="row">          
          <div class="col-md-4">
            <h3 class="text-center">Stats</h3>
            <ul>          
              <li>Total Commits: 102</li>          
              <li>Total Issues: 44</li>
              <li>Total Unit Tests: 22</li>                      
              <li><a href="http://docs.teambask.apiary.io/">Apiary API</a></li>              
              <li><a href="https://github.com/brianquimio/cs373-idb/issues">Issue Tracker</a></li> 
              <li><a href="https://github.com/brianquimio/cs373-idb">GitHub Repo</a></li>
              <li><a href="https://github.com/brianquimio/cs373-idb/wiki">Wiki</a></li>
            </ul>          
          </div>
            
          <div class="col-md-4">
            <h3 class="text-center">Data</h3>
            <ul>
              <li><a href="https://developer.trulia.com">Trulia API</a></li>
              <li><a href="https://github.com/brianquimio/cs373-idb/wiki/Data-Sources">Data Scraping Wiki</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3 class="text-center">Tools</h3>
            <ul>
              <li>Front-End
                <ul>
                  <li>AngularJS</li>
                  <li>Bootstrap</li>
                  <li>Themify</li>
                </ul>
              </li>
                
              <li>Back-End
                <ul>
                  <li>Apiary</li>
                  <li>Flask</li>
                </ul>
              </li>
                
              <li>Embedded Media
                <ul>
                  <li>Google Maps</li>
                </ul>
              </li>
                
              <li>Collaboration
                <ul>
                  <li>Slack</li>
                  <li>GitHub</li>
                  <li>Trello</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div style="text-align:center; margin-top:50px;">
              <a href="#" class="btn btn-primary btn-lg">Run Unit Tests</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="fh5co-footer">
	  <div class="container">					
	    <ul class="fh5co-social-icons">
		  <li><a href="https://github.com/brianquimio/cs373-idb"><i class="ti-github"></i></a></li>
          <li a href="http://www.trulia.com" target="_top" title="Trulia Real Estate Search"><img src="http://images.trulia.com/images/logos/trulia_logo_70x42.jpg" alt=" Search Real Estate and Homes for Sale" border="0" /></a></li>
		</ul>
        <p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2007 Trulia, Inc. Use is subject to <a href="http://developer.trulia.com/pgae/read/Tou">Terms of Use</a><br>&copy; 2016 Virtual Address Space. All rights reserved. Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a></small></p>

	  </div>
	</footer>
  </div>  <!--end fh5co-main-->
