<div id="quimio">
  <div class="container-fluid">
		<div class="row">
          
			<div class="col-md-12"> 
				<div class="container">
					<div class="row">
            <h1>States</h1>
          </div>
        </div>
      </div>
            						
      <div class="col-md-12">
				<table ng-controller="tableController as tableCtrl" class="table table-striped" ng-init="tableCtrl.buildTable()">
					<tr>
						<th ng-repeat="header in headers"
                ng-show="tableCtrl.colIsShown(header)"
                ng-click="tableCtrl.sortBy(header)"
                ng-bind="header"></th>
          </tr>
          <tr ng-repeat="row in rows | orderBy:sorting['column']:sorting['descending']">
						<td ng-repeat="(key,value) in row"
                ng-show="tableCtrl.colIsShown(key)"
                ng-bind="value"></td>
          </tr>
        </table>
      </div>
    </div> <!--end row-->
  </div>  <!--end container--> 
      
  <div class="fh5co-spacer fh5co-spacer-md"></div>

  <footer id="fh5co-footer">
		<div class="container">					
			<ul class="fh5co-social-icons">
				<li><a href="https://github.com/brianquimio/cs373-idb"><i class="ti-github"></i></a></li>
		  </ul>
		  <p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2016 Virtual Address Space</a>. All rights reserved. Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a></small></p>
		</div>
	</footer>
    
</div> <!--end quimio-->