<!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="favicon.ico">
 
     <title>Generic Page for VAS</title>
 
     <!-- Bootstrap core CSS -->
     <link href="../static/lib/bootstrap.min.css" rel="stylesheet">
 
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <!-- <link href="../../bower_components/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
 
     <!-- Custom styles for this template -->
     <link href="../static/css/generic2.css" rel="stylesheet">
     <link href="../static/css/splash.css" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
     <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
     <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
     <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
 
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
     <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->
   </head>
 
   <body>
 
     <div id="bg"> <img src="../static/img/background.png"> </div>
 
     <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Virtual Address Space</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li><a href="./index.html">Home</a></li>
             <li><a href="./static-states.html">States</a></li>
             <li><a href="./static-cities.html">Cities</a></li>
             <li><a href="./static-neighborhoods.html">Neighborhoods</a></li>
           </ul>
         </div>
       </div>
     </nav>
     <!-- <div class="container">
 
       <div class="starter-template">
         <h1>Bootstrap starter template</h1>
         <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
       </div>
     </div> -->
 
     <div class="container regionTitleContainer">
       <div class="row containerName"><h2>The Team</h2></div>
     </div>
 
 
 
     <div class="container dataContainer">
       <div class="row containerName"><strong>Brian Quimio</strong>//<a href="https://github.com/brianquimio">GitHub</a></div>
       <div class="row containerContents">
         <span class="col-md-3"><img src="https://avatars2.githubusercontent.com/u/10721879?v=3&s=460" height="200px" width="200px"/></span>
         <span class="col-md-9">Is a 4th year CS student at the University of Texas at Austin. For this project he's on the front-end team, responsible for web layout and visuals. Brian's interested in big data analytics and web development. He had internships at NASA and Zilliant over the course of the last few years. He also enjoys soccer, texas hold 'em, and playing the stock market.</span>
       </div>
     </div>
 
     <div class="container dataContainer">
       <div class="row containerName"><strong>Adam Alloy</strong>//<a href="https://github.com/adamalloy">GitHub</a></div>
       <div class="row containerContents">
         <span class="col-md-3"><img src="https://avatars0.githubusercontent.com/u/14539345?v=3&s=460" height="200px" width="200px"/></span>
         <span class="col-md-9">A senior CS student with a psych minor. He's on the back end team, specializing in RESTful APIs and technical documentation. Like half of Austin, he came here from California and has no intention of leaving. On the side he is building on an online student art gallery and is excited to learn more about web development through this project. His hobbies include writing, rapping, dancing and stand up.</span>
       </div>
     </div>
 
     <div class="container dataContainer">
       <div class="row containerName"><strong>Stephen Perl</strong>//<a href="https://github.com/shperl">GitHub</a></div>
       <div class="row containerContents">
         <span class="col-md-3"><img src="https://avatars3.githubusercontent.com/u/5982889?v=3&s=460" height="200px" width="200px"/></span>
         <span class="col-md-9">Stephen Perl is a senior studying Computer Science at UT Austin, with an Advertising major under his belt. He works at EA as a data analyst and is our team leader for the first phase of the project, using skills he learned at work to keep us organized. He is also on the back end team, specializing in UML and docker. He just got a puppy, word on Slack is the puppy is very cute.</span>
       </div>
     </div>
 
     <div class="container dataContainer">
       <div class="row containerName"><strong>Steven Zhu</strong>//<a href="https://github.com/stevenzhu94">GitHub</a></div>
       <div class="row containerContents">
         <span class="col-md-3"><img src="https://avatars3.githubusercontent.com/u/11623685?v=3&s=460" height="200px" width="200px"/></span>
         <span class="col-md-9">Steven Zhu is a junior studying Computer Science at UT Austin. His computer science interests include object oriented programming and operating systems. For this project he's on the back-end team. Outside of school he enjoys reading, drawing, and weightlifting.</span>
       </div>
     </div>
 
     <div class="container dataContainer">
       <div class="row containerName"><strong>Keith Gibson</strong>//<a href="https://github.com/kdgbsn">GitHub</a></div>
       <div class="row containerContents">
         <span class="col-md-3"><img src="https://avatars2.githubusercontent.com/u/9368845?v=3&s=460" height="200px" width="200px"/></span>
         <span class="col-md-9">Keith Gibson is coming back to school for his second degree in Computer Science. His first degree is in Anthropology. He's on the front-end team for this project. Good at working under pressure. When he's not studying he enjoys riding around on his motorcycle with his wife.</span>
       </div>
     </div>
 
     <!-- Bootstrap core JavaScript
     ================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
     <!-- <script>window.jQuery || document.write('<script src="../../bower_components/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script> -->
     <script src="../static/lib/bootstrap.min.js"></script>
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <!-- <script src="../../bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script> -->
   </body>
 </html>