<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Virtual Address Space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="../static/img/favicon.ico">

    <title>Virtual Address Space</title>

  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="../static/lib/css/themify-icons.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../static/lib/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/lib/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/lib/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/lib/css/magnific-popup.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/lib/css/superfish.css">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="../static/lib/css/easy-responsive-tabs.css">
  
	<!-- Theme Style -->
	<link rel="stylesheet" href="../static/lib/css/style.css">


	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/lib/js/modernizr-2.6.2.min.js"></script>
	<script src="../static/lib/js/respond.min.js"></script>
	<![endif]-->

  </head>
  <body>
    <!-- START #fh5co-header -->
    <header id="fh5co-header-section" role="header" class="" style="background-color:black;">
	  <div class="container">
	    <!-- START #fh5co-logo -->
        <h1 id="fh5co-logo" class="pull-left"><a href="index.html">VAS</a></h1>	
		<!-- START #fh5co-menu-wrap -->
		<nav id="fh5co-menu-wrap" role="navigation">
		  <ul class="sf-menu" id="fh5co-primary-menu">
            <li><a href="about.html">About</a></li>
			<li><a href="states.html">States</a></li>
			<li><a href="#">Cities</a></li>
			<li><a href="#">Neighborhoods</a></li>
		  </ul>
		</nav>  

	  </div>
	</header>
	
    <div id="quimio">
      <section>
        <div class="container-fluid">
          <div class="row">
            
            <!--title-->
            <div class="col-md-12">
              <div class="container-fluid">
                <div class="row">
                  <h1>California</h1>
                </div>
              </div>
            </div>

            <!--left bar--> 
            <div class="col-md-2">
              <div class="fh5co-side-section fh5co-nav-links">
                <h2 class="fh5co-uppercase-heading-sm">Cities</h2>
                <ul>
                  <li><a href="#">Los Angeles</a></li>
                  <li><a href="#">San Francisco</a></li>
                  <li><a href="#">Sacremento</a></li>
                </ul>
              </div>
            </div>
            
            <div class="col-md-2">
              <div class="fh5co-side-section fh5co-nav-links">
                <h2 class="fh5co-uppercase-heading-sm">Property Type</h2>
                <ul>
                  <li><a href="#">1-Bedroom</a></li>
                  <li><a href="#">2-Bedroom</a></li>
                  <li><a href="#">3-Bedroom</a></li>
                </ul>
              </div>
            </div>

            <!--table-->
            <div class="col-md-4">
              <table class="table table-striped">
                <thead>
                  <th>Property</th>
                  <th>Value</th>
                </thead>
                
                <tbody>
                  <tr>
                    <td>Date</td>
                    <td>4-5-16</td>
                  </tr>
                  <tr>
                    <td># of Properties</td>
                    <td>300</td>
                  </tr>
                  <tr>
                    <td>Average Listing</td>
                    <td>$225000</td>
                  </tr>
                  <tr>
                    <td># of 1-Bed Properties</td>
                    <td>195</td>
                  </tr>
                  <tr>
                    <td>Average Listing</td>
                    <td>$185000</td>
                  </tr>
                  <tr>
                    <td># of 2-Bed Properties</td>
                    <td>65</td>
                  </tr>
                  <tr>
                    <td>Average Listing</td>
                    <td>$264000</td>
                  </tr>
                  <tr>
                    <td># of 3-Bed Properties</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Average Listing</td>
                    <td>$312000</td>
                  </tr>
                </tbody>
              </table>  
            </div>
  
            <!--right bar-->
            <div class="col-md-4">
              <div class="fh5co-side-section">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509713.084021231!2d-123.77347912442343!3d37.1866687017569!2m3!1f0!2f0!3f0!3m2!1i1024!2    i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia!5e0!3m2!1sen!2sus!4v1458871633347"frameborder="0" style="border:0" width="90%" height=90%" allowfullscreen></iframe>
              </div>
            </div>
          

          </div> <!--end row-->
        </div>  <!--end container-->
      </section>
      
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <footer id="fh5co-footer">
		<div class="container">					
		  <ul class="fh5co-social-icons">
			<li><a href="https://github.com/brianquimio/cs373-idb"><i class="ti-github"></i></a></li>
            <li><a href="http://www.trulia.com" target="_top" title="Trulia Real Estate Search">
                <img src= "http://images.trulia.com/images/logos/trulia_logo_70x42.jpg" alt=" Search Real Estate and Homes for Sale" border="0" /></a></li>
          </ul>
          <p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2007 Trulia, Inc. Use is subject to <a href="http://developer.trulia.com/pgae/read/Tou">Terms of Use</a><br>&copy; 2016 Virtual Address Space</a>. All rights reserved. Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a></small></p>

		</div>
	  </footer>
    </div> <!--end quimio-->
	
    

	<!-- jQuery -->
	<script src="../static/lib/js/jquery-1.10.2.min.js"></script>
  	<!-- jQuery Easing -->
  	<script src="../static/lib/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
  	<script src="../static/lib/js/bootstrap.js"></script>
    <!-- Owl carousel -->
  	<script src="../static/lib/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
  	<script src="../static/lib/js/jquery.magnific-popup.min.js"></script>
    <!-- Superfish -->
  	<script src="../static/lib/js/hoverIntent.js"></script>
    <script src="../static/lib/js/superfish.js"></script>
  	<!-- Easy Responsive Tabs -->
    <script src="../static/lib/js/easyResponsiveTabs.js"></script>
  	<!-- FastClick for Mobile/Tablets -->
    <script src="../static/lib/js/fastclick.js"></script>
  	<!-- Main JS -->
    <script src="../static/lib/js/main.js"></script>

  </body>
</html>
