<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Virtual Address Space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="../static/img/favicon.ico">

    <title>Virtual Address Space</title>

  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="../static/lib/css/themify-icons.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../static/lib/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/lib/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/lib/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/lib/css/magnific-popup.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/lib/css/superfish.css">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="../static/lib/css/easy-responsive-tabs.css">
  
	<!-- Theme Style -->
	<link rel="stylesheet" href="../static/lib/css/style.css">


	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/lib/js/modernizr-2.6.2.min.js"></script>
	<script src="../static/lib/js/respond.min.js"></script>
	<![endif]-->

  </head>
  <body>
    <!-- START #fh5co-header -->
	<header id="fh5co-header-section" role="header" class="" >
	  <div class="container">
					
	    <!-- START #fh5co-logo -->
	    <h1 id="fh5co-logo" class="pull-left"><a href="index.html">VAS</a></h1>
					
		<!-- START #fh5co-menu-wrap -->
		<nav id="fh5co-menu-wrap" role="navigation">
		  <ul class="sf-menu" id="fh5co-primary-menu">
			<li><a href="about.html">About</a></li>
			<li><a href="#">States</a></li>
			<li><a href="#">Cities</a></li>
			<li><a href="#">Neighborhoods</a></li>
		  </ul>
		</nav>  

	  </div>
	</header>
			
	<!-- START #fh5co-hero -->
	<aside id="fh5co-hero" style="background-color:gray;">
	  <div class="container">
		<div class="row">
	  	  <div class="col-md-8 col-md-offset-2">
			<div class="fh5co-hero-wrap">
			  <div class="fh5co-hero-intro">
                <h1>Hey</h1>
	  		  </div>
			</div>
		  </div>
		</div>
	  </div>
	</aside>

    <div id="fh5co-main">
      <footer id="fh5co-footer">
		<div class="container">					
		  <ul class="fh5co-social-icons">
			<li><a href="https://github.com/brianquimio/cs373-idb"><i class="ti-github"></i></a></li>
		  </ul>
		  <p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2016 Virtual Address Space</a>. All rights reserved. Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a></small></p>

		</div>
	  </footer>
    </div>  <!--end fh5co-main-->
			
	<!-- jQuery -->
	<script src="../static/lib/js/jquery-1.10.2.min.js"></script>
  	<!-- jQuery Easing -->
  	<script src="../static/lib/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
  	<script src="../static/lib/js/bootstrap.js"></script>
    <!-- Owl carousel -->
  	<script src="../static/lib/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
  	<script src="../static/lib/js/jquery.magnific-popup.min.js"></script>
    <!-- Superfish -->
  	<script src="../static/lib/js/hoverIntent.js"></script>
    <script src="../static/lib/js/superfish.js"></script>
  	<!-- Easy Responsive Tabs -->
    <script src="../static/lib/js/easyResponsiveTabs.js"></script>
  	<!-- FastClick for Mobile/Tablets -->
    <script src="../static/lib/js/fastclick.js"></script>
  	<!-- Main JS -->
    <script src="../static/lib/js/main.js"></script>

  </body>
</html>
