<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Virtual Address Space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="../static/img/favicon.ico">

    <title>Virtual Address Space</title>

  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="../static/lib/css/themify-icons.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../static/lib/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/lib/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/lib/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/lib/css/magnific-popup.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/lib/css/superfish.css">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="../static/lib/css/easy-responsive-tabs.css">
  
	<!-- Theme Style -->
	<link rel="stylesheet" href="../static/lib/css/style.css">


	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/lib/js/modernizr-2.6.2.min.js"></script>
	<script src="../static/lib/js/respond.min.js"></script>
	<![endif]-->

  </head>
  <body>
    <!-- START #fh5co-header -->
    <header id="fh5co-header-section" role="header" class="" style="background-color:black;">
	  <div class="container">
	    <!-- START #fh5co-logo -->
        <h1 id="fh5co-logo" class="pull-left"><a href="index.html">VAS</a></h1>	
		<!-- START #fh5co-menu-wrap -->
		<nav id="fh5co-menu-wrap" role="navigation">
		  <ul class="sf-menu" id="fh5co-primary-menu">
			<li><a href="about.html">About</a></li>
			<li><a href="#">States</a></li>
			<li><a href="#">Cities</a></li>
			<li><a href="#">Neighborhoods</a></li>
		  </ul>
		</nav>  

	  </div>
	</header>
	
    <div id="quimio">
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                <div class="row">
                  <h1>Texas</h1>
                </div>
              </div>

            <div class="col-md-8 col-md-push-4" id="fh5co-content">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th># of Properties</th>
                    <th>Avg. Listing Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><a href="static-state-texas.html">Texas</a></td>
                    <td>2016-03-22</td>
                    <td>300</td>
                    <td>$49017</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td><a href="static-state-new-york.html">New York</a></td>
                    <td>2016-03-15</td>
                    <td>700</td>
                    <td>$89210</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><a href="static-state-california.html">California</a></td>
                    <td>2016-03-16</td>
                    <td>1500</td>
                    <td>$141211</td>
                  </tr>
                </tbody>
              </table>  
            </div>
  
            <div class="col-md-4 col-md-pull-8" id="fh5co-sidebar">
              <div class="fh5co-side-section fh5co-nav-links">
                <h2 class="fh5co-uppercase-heading-sm">Cities</h2>
                <ul>
                  <li><a href="#">Austin</a></li>
                  <li><a href="#">Houston</a></li>
                  <li><a href="#">Dallas</a></li>
              </div>

              <div class="fh5co-spacer fh5co-spacer-sm"></div>
              <div class="fh5co-side-section">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6997349.426454826!2d-104.57896480323399!3d31.090979304946853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864070360b823249%3A0x16eb1c8f1808de3c!2sTexas!5e0!3m2!1sen!2sus!4v1458871863707"frameborder="0" style="border:0" width="90%" height=90%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div class="fh5co-spacer fh5co-spacer-md"></div>

      <footer id="fh5co-footer">
		<div class="container">					
		  <ul class="fh5co-social-icons">
			<li><a href="https://github.com/brianquimio/cs373-idb"><i class="ti-github"></i></a></li>
		  </ul>
		  <p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2016 Virtual Address Space</a>. All rights reserved. Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a></small></p>

		</div>
	  </footer>
    </div> <!--end quimio-->
	
    

	<!-- jQuery -->
	<script src="../static/lib/js/jquery-1.10.2.min.js"></script>
  	<!-- jQuery Easing -->
  	<script src="../static/lib/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
  	<script src="../static/lib/js/bootstrap.js"></script>
    <!-- Owl carousel -->
  	<script src="../static/lib/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
  	<script src="../static/lib/js/jquery.magnific-popup.min.js"></script>
    <!-- Superfish -->
  	<script src="../static/lib/js/hoverIntent.js"></script>
    <script src="../static/lib/js/superfish.js"></script>
  	<!-- Easy Responsive Tabs -->
    <script src="../static/lib/js/easyResponsiveTabs.js"></script>
  	<!-- FastClick for Mobile/Tablets -->
    <script src="../static/lib/js/fastclick.js"></script>
  	<!-- Main JS -->
    <script src="../static/lib/js/main.js"></script>

  </body>
</html>
